/* general */
body {
  margin: 0 auto;
  color: #536568;
  font-family: "Sarala", sans-serif;
}
p {
  line-height: 1.5;
}

/* nav bar */
nav {
  background-color: #056676;
  color: white;
  font-family: "Londrina Solid", cursive;
}

.header-image {
  height: 40px;
  filter: invert(100%);
}

nav h5 {
  font-family: "Staatliches", cursive;
}

nav a {
  color: white;
}

nav a:hover {
  color: #EFE9E2;
  text-decoration: none;
}

/* main */
.main-content {
  background-color: #a3d2ca;
  border-radius: 8px;
  filter: drop-shadow(4px 4px 2px gray);
}

.main-content h5 {
  color: #056676;
}

.main-content a {
  color: #5eaaa8;
}

.main-content a:hover {
  color: #be5683;
  text-decoration: none;
}

.main-thing {
  background-color: #EFE9E2;
  border-radius: 8px;
  filter: drop-shadow(4px 4px 2px gray);
}

h4 {
  text-align: center;
  border-bottom: 4px dotted;
  color: #056676;
  margin-bottom: 20px;
  padding-bottom: 4px;
  font-family: "Staatliches", cursive;
}

/* welcome page */
.hello-pics {
  width: 100%;
  border-radius: 8px;
}

/* experience page */
.exp-pics {
  width: 100%;
  position: relative;
  border-radius: 8px;
}

.exp-text {
  position: relative;
  bottom: 54px;
  background-color: #5eaaa8;
  color: white;
  padding: 10px;
  text-align: center;
  font-family: 'Alegreya Sans SC', sans-serif;
}

.exp-text a {
  color: white;
}

.exp-text a:hover {
  color: #EFE9E2;
}

ul {
  list-style: none;
}

/* portfolio page */
.ext-pics {
  height: 50px;
  position: relative;
}

.git-pics {
  position: relative;
  border-radius: 8px;
  width: 100%;
}

.git-text {
  text-align: center;
  position: relative;
  bottom: 60px;
  padding: 10px;
  background-color: #5eaaa8;
  color: white;
  font-family: 'Alegreya Sans SC', sans-serif;
}

.button {
  background-color: #5eaaa8;
  color: white;
}

.link-emojis {
  height: 26px;
  margin-left: 5px;
}

/* header MQs */
@media (min-width: 640px) {
  .exp-text {
    font-size: 13px;
  }
}

@media (max-width: 400px) {
  h2 {
    font-size: 24px;
  }
  .header-image {
    height: 30px;
  }

  nav h5 {
    font-size: 18px;
  }
}
