/* general */
body {
   margin: 0 auto;
   color: #536568;
   font-family: 'Sarala', sans-serif;
}
p {
    line-height: 1.5;
}

/* nav bar */
nav {
    background-color: #056676;
    color: white;
    font-family: 'Londrina Solid', cursive;
}

.header-image {
    height: 40px;
    filter: invert(100%);
}

nav h5 {
    font-family: 'Staatliches', cursive;
}

nav a {
    color: white;
}

nav a:hover {
    color: #e8ded2;
    text-decoration: none;
}

/* main */
.main-content {
    background-color: #a3d2ca;
    border-radius: 8px;
    filter: drop-shadow(4px 4px 2px gray);
}

.main-content h5 {
    color: #056676;
}

.main-content a {
    color: #5eaaa8;
}

.main-content a:hover {
    color: #be5683;
    text-decoration: none;
}

.main-thing {
    background-color: #e8ded2;
    border-radius: 8px;
    filter: drop-shadow(4px 4px 2px gray);
}

/* welcome page */
.hello-pics {
    width: 100%;
    border-radius: 8px;
}

/* experience page */
.exp-pics {
    width: 100%;
    position: relative;
    border-radius: 8px;
}

.exp-text {
    position: relative;
    bottom: 50px;
    background-color: #5eaaa8;
    color: white;
    padding: 10px;
    text-align: center;
}

ul {
    list-style: none;
}

/* portfolio page */
.ext-links {
    width: 100%;
}

.git-pics {
    position: relative;
    border-radius: 8px;
    margin: 10px;    
    width: 100%;
}

.git-text {
    text-align: center;
    position: relative;
    bottom: 66px;
    left: 10px;
    padding: 10px;
    background-color: #5eaaa8;
    color: white;
}

.button {
    background-color: #5eaaa8;
    color: white;
}

/* media queries */
@media (max-width: 768px) {
    .exp-text, .git-text {
        font-size: 12px;
    }
}